Repository mesosphere/konvoy-image-builder, pull requests merged in 2024-11, with the labels that each got.

#1221 [release-2.8] fix: gpg key expired for v1.27
  ansible/group_vars/all/system.yaml
Labels: fix, ready, runs-vsphere-tests, runs-azure-tests

#1184 feat: allows specific regional location image to be created for GCP
  .github/workflows/gcp-e2e.yaml
  .github/workflows/release-gcp-template.yaml
  cmd/konvoy-image-wrapper/cmd/create-package-bundle.go
  cmd/konvoy-image/cmd/gcp.go
  docs/cli/konvoy-image_build_gcp.md
  magefile.go
  pkg/app/build_gcp.go
  pkg/app/config.go
  pkg/app/constants.go
  pkg/packer/manifests/gcp/packer.pkr.hcl
Labels: feature, runs-gcp-tests

#1224 feat(release-2.14): allows specific regional location image to be created for GCP
  .github/workflows/gcp-e2e.yaml
  .github/workflows/release-gcp-template.yaml
  cmd/konvoy-image-wrapper/cmd/create-package-bundle.go
  cmd/konvoy-image/cmd/gcp.go
  docs/cli/konvoy-image_build_gcp.md
  magefile.go
  pkg/app/build_gcp.go
  pkg/app/config.go
  pkg/app/constants.go
  pkg/packer/manifests/gcp/packer.pkr.hcl
Labels: feature, runs-gcp-tests

#1223 feat(release-2.9): allows specific regional location image to be created for GCP
  .github/workflows/gcp-e2e.yaml
  .github/workflows/release-gcp-template.yaml
  cmd/konvoy-image-wrapper/cmd/create-package-bundle.go
  cmd/konvoy-image/cmd/gcp.go
  docs/cli/konvoy-image_build_gcp.md
  magefile.go
  pkg/app/build_gcp.go
  pkg/app/config.go
  pkg/app/constants.go
  pkg/packer/manifests/gcp/packer.pkr.hcl
Labels: feature, runs-gcp-tests

#1232 chore: changing gcp image for ubuntu 20.04
  images/gcp/ubuntu-2004.yaml
Labels: ignore-for-release, needs-backport, ready, runs-gcp-tests

#1233 fix: pins cloud init to last known working version for aws
  ansible/roles/providers/tasks/aws.yml
  bundles/redhat8.10/packages.txt.gotmpl
Labels: fix, runs-vsphere-tests, runs-aws-tests

#1222 chore(main): release 2.18.0
  CHANGELOG.md
Labels: ignore-for-release, autorelease: pending
