Repository mesosphere/konvoy-image-builder, pull requests merged in 2025-04, with the labels that each got.

#1284 feat: support building Rocky 9.5 AWS images
  .github/workflows/aws-e2e.yaml
  .github/workflows/release-ami.yaml
  images/ami/rocky-95.yaml
  magefile.go
Labels: feature, runs-aws-tests

#1289 ci: run vsphere e2e tests on nkp vcenter
  .github/workflows/release-vsphere-template.yaml
  .github/workflows/vsphere-e2e.yaml
  test/infra/vsphere/main.tf
  test/infra/vsphere/packer-vsphere-airgap.yaml.tmpl
  test/infra/vsphere/packer-vsphere-basic.yaml.tmpl
  test/infra/vsphere/variables.tf
Labels: runs-vsphere-tests

#1277 fix: simplifies rhel deps
  .github/workflows/aws-e2e.yaml
  .github/workflows/azure-e2e.yaml
  .github/workflows/gcp-e2e.yaml
  .github/workflows/release-ami.yaml
  .github/workflows/release-azure.yaml
  .github/workflows/release-gcp-template.yaml
  .github/workflows/release-vsphere-template.yaml
  .github/workflows/vsphere-e2e.yaml
  ansible/group_vars/all/system.yaml
  ansible/roles/containerd/tasks/redhat.yaml
  ansible/roles/packages/tasks/redhat.yaml
  bundles/redhat8.10/packages.txt.gotmpl
  bundles/redhat8.8/README.md
  bundles/redhat8.8/bundle.sh.gotmpl
  bundles/redhat8.8/packages.txt.gotmpl
  bundles/redhat8.8/repo-templates/kubernetes.repo.gotmpl
  bundles/rocky9.1/packages.txt.gotmpl
  bundles/ubuntu20.04/bundle.sh.gotmpl
  bundles/ubuntu20.04/packages.txt.gotmpl
Labels: fix, runs-vsphere-tests, runs-aws-tests

#1290 feat: create package bundle for rocky-9.5
  bundles/rocky9.5/bundle.sh.gotmpl
  bundles/rocky9.5/packages.txt.gotmpl
  cmd/konvoy-image-wrapper/cmd/create-package-bundle.go
Labels: feature

#1296 feat: support building Rocky 9.5 vSphere images
  .github/workflows/release-vsphere-template.yaml
  .github/workflows/vsphere-e2e.yaml
  images/ova/rocky-95.yaml
  test/infra/vsphere/variables.tf
Labels: feature, runs-vsphere-tests

#1295 feat: support using gallery images in Azure
  pkg/packer/manifests/azure/packer.pkr.hcl
Labels: feature, runs-azure-tests

#1288 e2e: remove any reference to RHEL 8.8
  ansible/molecule/ec2_full/molecule.yml
  ansible/molecule/ec2_gpu/molecule.yml
  ansible/roles/gpu/tasks/nvidia-gpu-RHEL.yaml
  ansible/roles/networking/tasks/main.yaml
  cmd/konvoy-image-wrapper/cmd/create-package-bundle.go
  cmd/konvoy-image/cmd/create-package-bundle.go
  docs/cli/konvoy-image_create-package-bundle.md
  images/ami/rhel-88.yaml
  images/azure/rhel-84.yaml
  images/ova/rhel-88.yaml
  magefile.go
Labels: feature, needs-backport, runs-vsphere-tests

#1300 fix: remove ubuntu-20.04 and its references
  ansible/molecule/default/molecule.yml
  ansible/molecule/ec2_full/molecule.yml
  ansible/molecule/ec2_gpu/molecule.yml
  cmd/konvoy-image-wrapper/cmd/create-package-bundle.go
  cmd/konvoy-image/cmd/create-package-bundle.go
  docs/cli/konvoy-image_create-package-bundle.md
  docs/dev/nvidia-gpu.md
  images/ami/ubuntu-2004.yaml
  images/azure/ubuntu-2004.yaml
  images/gcp/ubuntu-2004.yaml
  images/generic/ubuntu-2004.yaml
  images/ova/ubuntu-2004.yaml
  magefile.go
  pkg/app/config.go
Labels: fix, runs-vsphere-tests, runs-aws-tests

#1301 fix(release-2.23): remove ubuntu-20.04 and its references
  ansible/molecule/default/molecule.yml
  ansible/molecule/ec2_full/molecule.yml
  ansible/molecule/ec2_gpu/molecule.yml
  cmd/konvoy-image-wrapper/cmd/create-package-bundle.go
  cmd/konvoy-image/cmd/create-package-bundle.go
  docs/cli/konvoy-image_create-package-bundle.md
  docs/dev/nvidia-gpu.md
  images/ami/ubuntu-2004.yaml
  images/azure/ubuntu-2004.yaml
  images/gcp/ubuntu-2004.yaml
  images/generic/ubuntu-2004.yaml
  images/ova/ubuntu-2004.yaml
  magefile.go
  pkg/app/config.go
Labels: fix

#1297 ci(release-2.18): run vsphere e2e tests on nkp vcenter
  .github/workflows/release-vsphere-template.yaml
  .github/workflows/vsphere-e2e.yaml
  test/infra/vcd/bastion.tf
  test/infra/vcd/variables.tf
  test/infra/vsphere/main.tf
  test/infra/vsphere/packer-vsphere-airgap.yaml.tmpl
  test/infra/vsphere/packer-vsphere-basic.yaml.tmpl
  test/infra/vsphere/variables.tf
Labels: runs-vsphere-tests
