Repository mesosphere/konvoy-image-builder, pull requests merged in 2025-07, with the labels that each got.

#1312 feat: bump kubernetes version to v1.33.2
  ansible/group_vars/all/defaults.yaml
  bundles/redhat8.10/packages.txt.gotmpl
  images/common.yaml
Labels: feature, ready, runs-e2e-tests

#1317 Fix - RHN subscription handling
  .github/workflows/aws-e2e.yaml
  .github/workflows/release-ami.yaml
  .github/workflows/release-vsphere-template.yaml
  .github/workflows/vsphere-e2e.yaml
  Makefile
  ansible/group_vars/all/system.yaml
  ansible/roles/repo/tasks/redhat.yaml
  bundles/redhat8.10/bundle.sh.gotmpl
  bundles/redhat8.6/bundle.sh.gotmpl
  bundles/redhat8.8/bundle.sh.gotmpl
  cmd/konvoy-image-wrapper/cmd/wrapper.go
  docs/dev/vsphere.md
Labels: runs-vsphere-tests

#1318 feat: enhance RHEL subscription management with environment and pool support (2.22)
  .github/workflows/aws-e2e.yaml
  .github/workflows/release-ami.yaml
  .github/workflows/release-vsphere-template.yaml
  .github/workflows/vsphere-e2e.yaml
  Makefile
  ansible/group_vars/all/system.yaml
  ansible/roles/repo/tasks/redhat.yaml
  bundles/redhat8.10/bundle.sh.gotmpl
  bundles/redhat8.8/bundle.sh.gotmpl
  cmd/konvoy-image-wrapper/cmd/wrapper.go
  docs/dev/vsphere.md
Labels: feature, runs-vsphere-tests, runs-aws-tests

#1319 feat: enhance RHEL subscription management with environment and pool support (2.23)
  .github/workflows/aws-e2e.yaml
  .github/workflows/release-ami.yaml
  .github/workflows/release-vsphere-template.yaml
  .github/workflows/vsphere-e2e.yaml
  Makefile
  ansible/group_vars/all/system.yaml
  ansible/roles/repo/tasks/redhat.yaml
  bundles/redhat8.10/bundle.sh.gotmpl
  cmd/konvoy-image-wrapper/cmd/wrapper.go
  docs/dev/vsphere.md
Labels: feature, runs-vsphere-tests, runs-aws-tests

#1322 fix: update kernel header versions for rhel-8.10
  bundles/redhat8.10/packages.txt.gotmpl
Labels: fix, runs-aws-tests

#1324 fix: only use Ec2Kubernetes datasource in aws
  ansible/roles/providers/tasks/misc.yml
Labels: fix
