Repository mesosphere/konvoy-image-builder, pull requests merged in 2025-06, with the labels that each got.

#1306 feat: adds rocky 9.6 build for aws
  .github/workflows/aws-e2e.yaml
  bundles/rocky9.6/bundle.sh.gotmpl
  bundles/rocky9.6/packages.txt.gotmpl
  cmd/konvoy-image-wrapper/cmd/create-package-bundle.go
  images/ami/rocky-96.yaml
  magefile.go
Labels: feature, runs-aws-tests

#1308 feat: rocky 9.6 on vsphere
  .github/workflows/release-ami.yaml
  .github/workflows/release-vsphere-template.yaml
  .github/workflows/vsphere-e2e.yaml
  images/ova/rocky-96.yaml
Labels: feature, runs-vsphere-tests

#1309 fix(release-2.22): bump nvidia kernel headers for RHEL 8.10
  bundles/redhat8.10/packages.txt.gotmpl
Labels: fix, runs-aws-tests

#1310 fix(release-2.22): bump nvidia kernel headers for RHEL 8.8
  bundles/redhat8.8/packages.txt.gotmpl
Labels: fix, runs-aws-tests
